body{
background-position: center;
background-size: cover;
}

.titulo{

font-size: 23px;
width: 100%;
margin: 0px;
}

button{

font-size: 18px;
}

#NumeroObjeto, #STATUS{

font-size: 18px;
}

.copyRightFooter{

position: fixed;
color: rgba(146, 0, 134, 0.792);
background-color: rgb(0, 255, 170);
bottom: 0;
width: 100%;
line-height: 2;
text-align: center;
}

canvas{

border: 2px solid color( rgba(208, 255, 0, 0.737));
border-radius: 10px;
margin-top: 130px;
box-shadow: 5px 5px 5px rgb(0, 237, 166)
}